{
  "presets": [
    [
      "@babel/env",
      {
        "targets": { "node": 10 }
      }
    ]
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "ignore": [
        "node_modules",
        "**/templates/**/**",
        "**/__mocks__/**/**",
        "**/*.test.js"
      ],
    }
  }
}
